<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <!-- Brand -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Brand</a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">

      <!-- Login link -->
      <li routerLinkActive="active" >
        <a routerLink="/account" *ngIf="user === null" style="cursor: pointer;">
          <span class="glyphicon glyphicon-user" aria-hidden="true">
          </span>
        </a>
      </li>

      <!-- account -->
      <li *ngIf="user !== null" routerLinkActive="active">
        <a (click)="onClickAccount()" style="cursor: pointer;">
          {{ user.email }}
        </a>
      </li>

      <!-- Logout link -->
      <li *ngIf="user !== null" routerLinkActive="active">
        <a (click)="onLogout()" style="cursor: pointer;">
          Logout
        </a>
      </li>

      <!-- cart link -->
      <li *ngIf="userIsConsumer()" routerLinkActive="active">
        <a routerLink="/cart">
          <span *ngIf="numberOfCarts > 0" class="badge">{{ numberOfCarts }}</span>
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
