<!-- Place this in a seperate component -->
<div class="row">
    <div class="col-md-12">
        <div *ngIf="!gridView">
            <a class="list-group-item clearfix" href="#" (click)="onProductSelect(product)" *ngFor="let product of products">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{ product.name }}</h4>
                    <p class="list-group-item-text">{{ product.description }}</p>
                </div>
    
                <!-- TODO: Add image -->
                <span class="pull-right">
                    <p>{{ product.imagePath }}</p>
                </span>
            </a>
        </div>
        <div *ngIf="gridView">
            <div class="row">
                <div class="col-md-4" *ngFor="let product of products">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Heading
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>