<div class="row">
    <div class="cart">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Item</th>
                    <th>Unit price</th>
                    <th>Quantity</th>
                    <th colspan="2">Total price</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let cart of this.shoppingCartData">
                        <td><img src="{{ cart.products.imagePath }}" alt="Shoe" height="150px" /></td>
                        <td>{{ cart.products.name }}</td>

                        <td>{{ cart.products.price | currency:'EUR' }}</td>
                        <td>
                            <input
                                onKeyDown="return false"
                                name="{{ cart.products.name }}"
                                class="form-control"
                                min="1"
                                max="{{ cart.products.stock }}"
                                name="amount"
                                type="number"
                                value="{{ cart.carts.amount }}"
                                (change)="updateTotalPrice($event)"/>
                        </td>
                        <td>
                            &euro;{{ cart.products.price * cart.carts.amount }}
                        </td>
                        <td>
                            <button class="btn btn-warning pull-right" (click)="deleteCart(cart.carts)">delete</button>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row subtotal">
    <div class="col-md-4 pull-right">
        <div class="cart">
            YOUR ORDER
            <hr />
            Subtotal: &euro;{{ totalPrice }}
            <br>
            <br>
            <a class="btn btn-primary btn-block" routerLink="/checkout" >Proceed to checkout</a>
        </div>
    </div>
</div>

