<div class="row">
    <div class="cart">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Item</th>
                    <th>Unit price</th>
                    <th>Quantity</th>
                    <th>Total price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>product image</td>
                    <td>product name</td>
                    <td>Product price</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row subtotal">
    <div class="col-md-4 pull-right">
        <div class="cart">
            YOUR ORDER
            <hr />
            Subtotal
        </div>
    </div>
</div>

