<!-- Update this by binding it to the parent -->
<button class="btn btn-primary" (click)="fetchAllProducts()" >Fetch all products</button>
&nbsp;
<button class="btn btn-primary" (click)="deleteAllProducts()" >Delete all products</button>
<hr />
<div class="row">
    <div class="col-md-8">
        <app-product-catalog [products]="products" (productSelected)="onProductSelected($event)"></app-product-catalog>
    </div>
    <div class="col-md-4">
        <app-product-create-form></app-product-create-form>
    </div>
</div>
<hr />
<app-product-admin-options [product]="currentProduct"></app-product-admin-options>