<div class="row">
    <div class="col-md-6">
        <img 
            src="{{ defaultImageUri }}"
            alt="No image found"
            width="100%"
        />
    </div>
    <div class="col-md-6">
        <!-- get the following header to change according to the mode -->
        <h2>Mutate</h2>
        <app-details 
            (switchToMode)="switchToMutateMode()" 
            (pageToRedirectUser)="redirectUser($event)" 
            [product]="currentProduct" 
            [user]="user" 
            *ngIf="productPageMode === 'DETAILS'">
        </app-details>
        <app-mutate *ngIf="productPageMode === 'MUTATE'"></app-mutate>
    </div>
</div>