<div class="row">
    <div class="col-md-12">
        <!-- TODO: Update this according to product input -->
        <p>image path</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>{{ product.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Update</button>
            <button type="button" class="btn btn-default">Delete</button>
        </div>
    </div>
</div>