.list-wrapper {
    height: 400px;
    overflow-y: scroll;
}

.table-cell-container {
    position: relative;
    border: 1px solid;
}

.vcenter {
    transform: translate(0, 25px);
}

.vcenter a {
    cursor: pointer;
}