<h1>Shoes</h1>
<div *ngIf="!user.isAdmin" >
    <div class="row">
        <div *ngFor="let product of products" class="col-md-3 my-card">
            <div routerLink="/product/details/{{ product.id }}">
                <img src="{{ product.imagePath }}" alt="Nike shoe" height=150px /><br>
                <div class="my-card-container">
                    {{ product.name }}<br>
                    &euro;{{ product.price }}<br>
                    {{ product.stock > 0? 'In stock' : 'Out of stock' }}
                </div>
            </div>
            <button class="btn btn-info btn-block" (click)="addToCart()">Add to cart</button>
        </div>
    </div>
</div>
<div *ngIf="user.isAdmin">
    <a
        routerLink='/product/create' 
        class="btn btn-primary">
            +Add new product
    </a>&nbsp;
    <button 
        class="btn btn-primary" 
        (click)="fetchAllProducts()">
            Fetch all products
    </button>
    &nbsp;
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="list-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Item</th>
                            <th>Unit price</th>
                            <th>Stock</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>
                                <img src="{{ product.imagePath }}" alt="Nike shoe" width=100px />
                            </td>
                            <td class="vcenter">
                                {{ product.name }}
                            </td>
                            <td class="vcenter">
                                &euro;{{ product.price }}
                            </td>
                            <td class="vcenter">
                                {{ product.stock }}
                            </td>
                            <td class="vcenter">
                                <a routerLink="/product/edit">Edit</a>&nbsp;|
                                &nbsp;<a routerLink="/product/details/{{ product.id }}">Details</a>&nbsp;|
                                &nbsp;<a (click)="deleteProduct(product.id)" >Delete</a>
                            </td>
                        </tr>      
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <button 
                class="btn btn-primary pull-right" 
                (click)="deleteAllProducts()">
                    Delete all products
            </button>
        </div>
    </div>
</div>